<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐕</text></svg>">

    <meta name="description" content="Los perritos son animales increíbles. ¿Por qué no buscar unos GIFs de ellos en esta preciosa aplicación? Pásele y alegre su día con unos GIFs de perritos 🐕‍🦺">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="busqueda-giphy-perritos.vercel.app">
    <meta property="twitter:url" content="https://busqueda-giphy-perritos.vercel.app/">
    <meta name="twitter:title" content="Buscador de GIFs de perritos">
    <meta name="twitter:description" content="Los perritos son animales increíbles. ¿Por qué no buscar unos GIFs de ellos en esta preciosa aplicación? Pásele y alegre su día con unos GIFs de perritos 🐕‍🦺">
    <meta name="twitter:image" content="<%= BASE_URL %>assets/img/opengraph.jpg">     

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://busqueda-giphy-perritos.vercel.app/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Buscador de GIFs de perritos">
    <meta property="og:description" content="Los perritos son animales increíbles. ¿Por qué no buscar unos GIFs de ellos en esta preciosa aplicación? Pásele y alegre su día con unos GIFs de perritos 🐕‍🦺">
    <meta property="og:image" content="<%= BASE_URL %>assets/img/opengraph.jpg">

    <title>Buscador de GIFs de perritos</title>
  </head>
  <body>
    <noscript>
      <strong>Lo sentimos, pero el buscador de GIFs de perritos no funciona sin Javascript. Por favor habilítalo para poder continuar.</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
