<template>
  <header>
    <nav id="nav" class="p-6 text-center">
      <router-link class="font-bold px-4" to="/">Inicio</router-link> |
      <a aria-label="Código fuente" class="px-4" href="http://gitlab.com/pmartiner/busqueda-giphy-perritos" target="_blank" rel="noopener">
        <font-awesome-icon
          :icon="['fab', 'gitlab']"
          title="GitLab"
          class="fill-current"
        />
      </a>
    </nav>
  </header>
  <main class="home container mx-auto">
    <h1 class="text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl font-bold text-center my-7">Acerca del buscador de GIFs de perritos 🐩</h1>
    <img class="mx-auto h-80 rounded" alt="Vue logo" src="../assets/logo_acerca_de.png">
    <div class="container mx-auto px-6">
      <p class="text-3xl lg:text-4xl xl:text-5xl text-center font-bold pb-2 pt-7">
        ¡Bienvenides!
      </p>
      <p class="py-7 text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl">
        Mi perrita de aquí se llama <strong><em>Téa</em></strong> y la de la página de <router-link class="font-bold underline" to="/">inicio</router-link> se llama <strong><em>Chira</em></strong>. Las amo con todo mi corazón y quiero perpetuarlas en esta pequeña aplicación, para que Internet siempre tenga un pedazo de lo más bonito de mi vida.
      </p>
      <p class="text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl">
        El objetivo de esta aplicación es mostrar un listado de hasta 4999 GIFs relacionados con los increiblísimos perritos. Esta fue mi primera aplicación con <code class="p-0.5 bg-purple-300 font-bold text-purple-800 dark:bg-purple-600 dark:text-purple-200">vue@3</code>, <code class="p-0.5 bg-purple-300 font-bold text-purple-800 dark:bg-purple-600 dark:text-purple-200">typescript@4.4.4</code> y <code class="p-0.5 bg-purple-300 font-bold text-purple-800 dark:bg-purple-600 dark:text-purple-200">vue-router@4.0.0-0</code>. Fue un reto porque la desarrollé en tan solo 2 días, viniendo de desarrollar únicamente en <code class="p-0.5 bg-purple-300 font-bold text-purple-800 dark:bg-purple-600 dark:text-purple-200">react</code>.
      </p>
      <p class="py-7 text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl">
        ¡Ojalá la disfruten!
      </p>
    </div>
  </main>
</template>
