<template>
  <header>
    <nav id="nav" class="p-6 text-center">
      <router-link class="font-bold px-4" to="/about">Acerca de</router-link> |
      <a aria-label="Código fuente" class="px-4" href="http://gitlab.com/pmartiner/busqueda-giphy-perritos" target="_blank" rel="noopener">
        <font-awesome-icon
          :icon="['fab', 'gitlab']"
          title="GitLab"
          class="fill-current"
        />
      </a>
    </nav>
  </header>
  <main class="home container mx-auto">
    <h1 class="text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl font-bold text-center my-7">Buscador de GIFs de perritos 🐕‍🦺</h1>
    <img class="mx-auto h-80 rounded" alt="Vue logo" src="../assets/logo.png">
    <div class="container mx-auto px-6">
      <p class="text-3xl lg:text-4xl xl:text-5xl text-center font-bold pb-2 pt-7">
        ¡Bienvenides!
      </p>
      <p class="text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl">
        En esta aplicación ustedes podrán encontrar los mejores GIFs de perritos. Lo único que tienen que hacer es buscar algo que les venga a la mente cuando piensen en la palabra <code class="p-0.5 bg-purple-300 font-bold text-purple-800 dark:bg-purple-600 dark:text-purple-200">perritos</code>. El buscador agregará como prefijo la palabra <code class="p-0.5 bg-purple-300 font-bold text-purple-800 dark:bg-purple-600 dark:text-purple-200">perritos</code> a tu búsqueda y arrojará unos increíbles GIFs relacionados con estas palabras.
      </p>
      <p class="pb-7 text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl">
        ¡Disfruten de estos animales tan increíbles!
      </p>
      <form role="search" class="py-4" @submit.prevent="onSearchSubmit">
        <label for="search-bar">
          Buscar GIFs de <code class="p-0.5 bg-purple-300 font-bold text-purple-800 dark:bg-purple-600 dark:text-purple-200">perritos</code> 🐶...
        </label>
        <div class="mt-1">
          <search-bar
            id="search-bar"
            v-model:value="searchQuery"
            :placeholder="`Por ejemplo: ${doggiesAdjectives[doggiesAdjectives.length * Math.random() | 0]}`"
          />
        </div>
      </form>
      <p v-if="recentSearches.length > 0" class="py-4 text-center text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl">
        Búsquedas recientes:
      </p>
      <div
        v-for="recentSearch in recentSearches"
        :key="recentSearch.id"
      >
        <recent-search
          :search-link="recentSearchLink($event, recentSearch)"
          :recentSearch="recentSearch"
          @on-fav-click="onFavClick($event, recentSearch)">
          perritos {{ recentSearch.query }}
        </recent-search>
      </div>
    </div>
  </main>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

// Components
import SearchBar from '@/components/SearchBar/SearchBar.vue';
import RecentSearch from '@/components/RecentSearch/RecentSearch.vue';

// Types
import { RecentSearch as RecentSearchType } from '@/types/search-results.types';

export default defineComponent({
  name: 'Home',
  components: {
    SearchBar,
    RecentSearch
  },
  data() {
    return {
      searchQuery: '',
      recentSearches: [] as RecentSearchType[],
      doggiesAdjectives: ['tiernos', 'lindos', 'preciosos', 'memes', 'chistosos', 'gatitos', 'grandes', 'durmiendo', 'acostados', 'bobos']
    };
  },
  methods: {
    onSearchChange(e: InputEvent) {
      this.searchQuery = (e.currentTarget as HTMLInputElement).value;
    },
    onSearchSubmit() {
      this.recentSearches.push({
        id: `${this.searchQuery.split(' ').join('_')}_${this.searchQuery.length}`,
        query: this.searchQuery,
        faved: false
      });

      localStorage.setItem('recentSearch', JSON.stringify(this.recentSearches));

      this.$router.push({
        path: '/search',
        query: {
          q: this.searchQuery
        }
      });
    },
    onFavClick(event: MouseEvent, el: RecentSearchType) {
      const selectedElIndex = this.recentSearches.findIndex(r => r.id === el.id);

      if (selectedElIndex !== -1) {
        this.recentSearches[selectedElIndex].faved = !this.recentSearches[selectedElIndex].faved;

        localStorage.setItem('recentSearch', JSON.stringify(this.recentSearches));
      }
    },
    recentSearchLink(event: Event, recent: RecentSearchType) {
      const recentEl = this.recentSearches.find(el => el.id === recent.id);

      if (recentEl) {
        const search = new URLSearchParams({
          q: recentEl.query
        }).toString();

        return `/search?${search}`;
      }

      return undefined;
    }
  },
  mounted() {
    const recentSearches = localStorage.getItem('recentSearch');

    if (recentSearches) {
      this.recentSearches = JSON.parse(recentSearches);
    }
  }
});
</script>
