<template>
  <header>
    <nav class="flex items-center justify-between flex-wrap p-6 bg-white dark:bg-gray-900 fixed w-full shadow-md">
      <div class="flex items-center justify-between flex-nowrap flex-1">
        <div class="flex items-center flex-no-shrink mr-6">
          <router-link class="hover:text-blue-900 dark:hover:text-indigo-600" to="/">Inicio</router-link>
        </div>
        <form role="search" class="w-full h-12" @submit.prevent="onSearchSubmit">
          <search-bar
            v-model:value="searchQuery"
            :placeholder="'Busca un GIF de perritos 🐶'"
          />
        </form>
        <div class="ml-4 block sm:hidden">
          <button @click="toggle" class="flex items-center justify-center px-3 py-2 rounded text-teal-lighter border-teal-light hover:text-blue-900 dark:hover:text-indigo-600 h-5 w-5">
            <font-awesome-icon v-if="!open" title="Abrir menú" :icon="['fas', 'bars']" class="fill-current"/>
            <font-awesome-icon v-else-if="open" title="Cerrar menú" :icon="['fas', 'times']" class="fill-current"/>
          </button>
        </div>
      </div>
      <div :class="open ? 'block': 'hidden'" class="w-full sm:flex sm:items-center sm:w-auto">
        <div class="text-sm sm:flex-grow ml:flex ml:flex-1 ml:flex-nowrap ml:flex-row ml:justify-around ml:items-center">
          <router-link class="sm:ml-6 no-underline block mt-4 sm:inline-block sm:mt-0 hover:text-blue-900 dark:hover:text-indigo-600" to="/about">Acerca de</router-link>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="pt-32" v-if="!loading">
      <h2 class="text-center pt-3 pb-9 text-lg md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl">
        {{ totalResults }} {{ singleResult }} para la búsqueda: <strong><em>perritos {{ decodeURIComponent($route.query.q) }}</em></strong>
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-6">
        <div
          class="rounded-lg max-w-sm mx-auto bg-white shadow-md space-y-2 sm:flex sm:items-center sm:space-y-0 sm:space-x-6"
          v-for="gif in gifData.data"
          :style="{ height: `${gif.images.fixed_height.height}px`, width: `${gif.images.fixed_height.width}px` }"
          :key="gif.id"
        >
          <img
            class="block mx-auto sm:flex-shrink-0 rounded-lg"
            :src="gif.images.fixed_height.url"
            :alt="gif.title"
          >
        </div>
      </div>
      <div class="flex flex-row flex-nowrap w-full items-center justify-around py-8">
        <button-router-link class="text-center mx-4" :to="prevPage" v-if="!shouldPrevPageBeDisabled">
          Anterior
        </button-router-link>
        <button-router-link class="text-center mx-4" :to="nextPage" v-if="!shouldNextPageBeDisabled">
          Siguiente
        </button-router-link>
      </div>
    </div>
    <absolute-loader v-if="loading" />
  </main>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

// API
import searchGIF, { API_KEY } from '@/api/search';
import { SearchResponseData } from '@/types/search.api.types';

// Components
import SearchBar from '@/components/SearchBar/SearchBar.vue';
import AbsoluteLoader from '@/components/Loader/AbsoluteLoader.vue';
import ButtonRouterLink from '@/components/Button/ButtonRouterLink.vue';

// Types
import { RecentSearch } from '@/types/search-results.types';

const ELEMENTS_PER_PAGE = 48;

type ResultsQuery = {
  q: string;
  page: string;
}

declare module '@vue/runtime-core' {
  interface ComponentCustomProperties {
    $config: Record<string, unknown>;
  }
}

export default defineComponent({
  name: 'Results',
  components: {
    SearchBar,
    ButtonRouterLink,
    AbsoluteLoader
  },
  data() {
    return {
      loading: false,
      maxPages: 1,
      open: false,
      currentPage: 0,
      recentSearches: [] as RecentSearch[],
      gifData: {} as SearchResponseData,
      searchQuery: (this.$route.query as ResultsQuery).q
    };
  },
  methods: {
    onSearchChange(e: InputEvent) {
      this.searchQuery = (e.currentTarget as HTMLInputElement).value;
    },
    onSearchSubmit() {
      this.recentSearches.push({
        id: `${this.searchQuery.split(' ').join('_')}_${this.searchQuery.length}`,
        query: this.searchQuery,
        faved: false
      });

      localStorage.setItem('recentSearch', JSON.stringify(this.recentSearches));

      this.$router.push({
        path: '/search',
        query: {
          q: this.searchQuery
        }
      });
    },
    toggle() {
      this.open = !this.open;
    }
  },
  computed: {
    totalResults() {
      // More GIF items can be returned, but, as of Oct 17thm 2021, the max. value for the offset is 4999
      // https://developers.giphy.com/docs/api/endpoint/#search
      if (this.gifData.pagination && this.gifData.pagination.total_count > 4999) {
        return 4999;
      }
      return this.gifData.pagination ? this.gifData.pagination.total_count : 0;
    },
    singleResult() {
      return (this.gifData.pagination && this.gifData.pagination.total_count === 1) ? 'resultado' : 'resultados';
    },
    nextPage() {
      const searchObj = new URLSearchParams({
        q: (this.$route.query as ResultsQuery).q
      });

      if (this.$route.query.page) {
        const nextPage = parseInt(this.$route.query.page as string, 10) + 1;

        if (nextPage < this.maxPages) {
          searchObj.append('page', String(nextPage));
        }
      } else {
        searchObj.append('page', '1');
      }

      return `/search?${searchObj.toString()}`;
    },
    prevPage() {
      const searchObj = new URLSearchParams({
        q: (this.$route.query as ResultsQuery).q
      });

      if (this.$route.query.page) {
        const prevPage = parseInt(this.$route.query.page as string, 10) - 1;

        if (prevPage > 0) {
          searchObj.append('page', String(prevPage));
        }
      }

      return `/search?${searchObj.toString()}`;
    },
    shouldNextPageBeDisabled() {
      if (this.$route.query.page) {
        const nextPage = parseInt(this.$route.query.page as string, 10) + 1;

        if (nextPage > this.maxPages || this.gifData.data.length === 0 || Object.keys(this.gifData).length === 0) {
          return true;
        }
      }

      return false;
    },
    shouldPrevPageBeDisabled() {
      if (this.$route.query.page) {
        const prevPage = parseInt(this.$route.query.page as string, 10) - 1;

        if (prevPage >= 0) {
          return false;
        }
      }

      return true;
    }
  },
  created() {
    this.$watch(
      () => this.$route.query,
      (newQuery: ResultsQuery) => {
        this.loading = true;

        const res = searchGIF({
          api_key: API_KEY,
          q: `perritos ${decodeURIComponent(newQuery.q)}`,
          rating: 'pg',
          lang: 'es',
          limit: ELEMENTS_PER_PAGE,
          offset: newQuery.page ? parseInt(decodeURIComponent(newQuery.page), 10) * ELEMENTS_PER_PAGE : 0
        });

        res.then(response => {
          const totalResult = response.pagination.total_count > 4999 ? 4999 : response.pagination.total_count;

          this.gifData = { ...response };
          this.maxPages = totalResult > ELEMENTS_PER_PAGE ? Math.floor(totalResult / ELEMENTS_PER_PAGE) : 1;
        }).finally(() => {
          this.loading = false;
        });
      }
    );
  },
  mounted() {
    this.loading = true;

    const recentSearches = localStorage.getItem('recentSearch');

    if (recentSearches) {
      this.recentSearches = JSON.parse(recentSearches);
    }

    const res = searchGIF({
      api_key: API_KEY,
      q: `perritos ${decodeURIComponent((this.$route.query as ResultsQuery).q)}`,
      rating: 'pg',
      lang: 'es',
      limit: ELEMENTS_PER_PAGE,
      offset: (this.$route.query as ResultsQuery).page
        ? parseInt(decodeURIComponent((this.$route.query as ResultsQuery).page), 10) * ELEMENTS_PER_PAGE
        : 0
    });

    res.then(response => {
      const totalResult = response.pagination.total_count > 4999 ? 4999 : response.pagination.total_count;

      this.gifData = { ...response };
      this.maxPages = totalResult > ELEMENTS_PER_PAGE ? Math.floor(totalResult / ELEMENTS_PER_PAGE) : 1;
    }).finally(() => {
      this.loading = false;
    });
  }
});
</script>
